@import './variables';

@mixin flexSetup() {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    color: $primaryColor;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #FBFBFB;
}
a {
    text-decoration: none;
    color: $primaryColor;
}
nav {
    background-color: rgb(32, 26, 35);
    @include flexSetup();
    flex-direction: row;
    height: 5vh;
    header {
        height: 100%;
    }
    h1 {
        font-size: 3em;
        text-align: center;
        margin: 0 0 0 1em;
        height: 100%;
        @include flexSetup();
        justify-content: center;
    }
    ul {
        margin: 0;
        height: 100%;
        width: 100%;
        font-size: 1.5em;
        list-style: none;
        @include flexSetup();
        flex-direction: row;
        justify-content: space-around;
    }
}
.container {
    width: 100%;
    margin-top: 1em;
    @include flexSetup();
    justify-content: center;
    section {
        -webkit-box-shadow: 2px 2px 9px 1px rgba(32,26,35,0.5);
        -moz-box-shadow: 2px 2px 9px 1px rgba(32,26,35,0.5);
        box-shadow: 2px 2px 9px 1px rgba(32,26,35,0.5);
    }
    #premierLaunch {
        @include flexSetup();
        align-items: flex-start;
        background-color: $primaryBackground;
        width: 100%;
        border-radius: none;
        h2 {
            font-size: 2.75em;
            padding-left: .5em;
            margin-top: 0;
        }
        h3 {
            font-size: 3.5em;
            margin: 0;
            padding-bottom: .25em;
        }
        .rocketDescription {
            @include flexSetup();
            width: 100%;
        }
        article {
            padding: 1em;
            h4 {
                font-weight: 800;
                font-size: 1.5em;
            }
            p {
                font-size: 1.25em;
            }
        }
    }
    .launchSections {
        @include flexSetup();
        background-color: $primaryBackground;
        height: auto;
        width: 85%;
        padding: .75em;
        border-radius: 8px;
        p {
            margin-top: 0;
            font-size: 1.5em;
            width: 100%;
        }
        h3 {
            font-size: 2em;
        }
        article {
            h4 {
                font-weight: 800;
                font-size: 1.5em;
            }
            p {
                font-size: 1.25em;
                padding-left: 0;
            }
        }
    }
    img {
        max-width: 100%;
        max-height: 60vh;
        border-radius: 8px;
    }
    h3 {
        text-align: center;
        width: 100%;
    }
}
#topOfPageButton {
    display: none;
    position: fixed;
    bottom: 1em;
    right: 1.25em;
    z-index: 99;
    border: none;
    outline: none;
    background-color: $primaryBackground;
    color: $primaryColor;
    padding: .75em;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
}