html, body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #FBFBFB;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  background-color: #201a23;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  height: 5vh;
}

nav header {
  height: 100%;
}

nav h1 {
  font-size: 3em;
  text-align: center;
  margin: 0 0 0 1em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul {
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 1.5em;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.container h1 {
  color: black;
  text-align: center;
  font-size: 3em;
  margin-bottom: 0;
}

.container hr {
  width: 30%;
  background-color: black;
  border: none;
  height: 2px;
}

.container section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 85%;
  border-radius: 10px;
  background-color: rgba(32, 26, 35, 0.8);
  margin: .5em 0;
  -webkit-box-shadow: 2px 2px 9px 1px rgba(32, 26, 35, 0.5);
  box-shadow: 2px 2px 9px 1px rgba(32, 26, 35, 0.5);
}

.container section .articleImg {
  width: 30%;
}

.container section .articleImg img {
  width: 100%;
  padding: .5em;
}

.container section .article {
  width: 70%;
  padding-left: 1.5em;
}
/*# sourceMappingURL=news.css.map */