@import './variables';

@mixin flexSetup() {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

html, body {
    color: $primaryColor;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #FBFBFB;
}
a {
    text-decoration: none;
    color: $primaryColor;
}
nav {
    background-color: rgb(32, 26, 35);
    @include flexSetup();
    flex-direction: row;
    height: 5vh;
    header {
        height: 100%;
    }
    h1 {
        font-size: 3em;
        text-align: center;
        margin: 0 0 0 1em;
        height: 100%;
        @include flexSetup();
        justify-content: center;
    }
    ul {
        margin: 0;
        height: 100%;
        width: 100%;
        font-size: 1.5em;
        list-style: none;
        @include flexSetup();
        flex-direction: row;
        justify-content: space-around;
    }
}
.container {
    h1 {
        color: black;
    }
    width: 100%;
    @include flexSetup();
    align-items: flex-start;
    section {
        @include flexSetup();
        flex-direction: row;
        width: 100%;
        background-color: $primaryBackground;
        .articleImg {
            width: 30%;
            img {
                width: 100%;
            }
        }
        .article {
            width: 70%;
        }
    }
}
