<nav>
    <header>
        <h1>{{title}}</h1>
    </header>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/upcoming">Upcoming Launches</a></li>
    </ul>
</nav>